

* {
    margin: 0;
    padding: 0;
    color: white;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(4, 199, 253), rgb(20, 46, 243), rgb(11, 62, 231));
    height: 100px;
    border-bottom: 3px solid black;
}

.img label {
    font-size: 2.5rem;
    text-shadow: 4px -5px 4px rgb(21, 36, 17);
}

.img label:hover {
    border-bottom: 2px solid rgb(3, 28, 255);
    border-radius: 30px;
    font-size: 3rem;
    transition: all 1s ease-in-out;
}

.navlist {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.navlist li {
    list-style-type: none;
}

.navlist li a {
    text-decoration: none;
    padding: 7px;
    text-shadow: 2px 4px 4px black;


}

.navlist li a:hover {
    border-bottom: 3px solid rgb(255, 0, 0);
    font-size: 1.5rem;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    color: rgb(14, 183, 230);
}

body {
    background-color: rgb(36, 35, 35);
}







/* end of navbar */

/* starting of home section */
#home {
    text-align: bottom-left;
    min-height: 100vh;
    max-height: fit-content;
    padding-top: 10px;
    overflow: hidden;


}

.headmain {
    padding-left: 20px;
    line-height: 30px;
    border-left: 2px solid black;
    display: flex;
    justify-content: center;
}

.headmain h1 {
    background-color: green;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 5px;
    text-shadow: 2px 3px 3px black;
}

.screen {
    display: inline-block;
    position: relative;
    left: 580px;
    top: 20px;
    border: 2px solid red;
    
}

.screen img {
    height: 480px;
    width: 405px;
    animation-name: slideshow;
    animation-duration:2s;
    animation-iteration-count: infinite;
}